<% tracks.forEach(function(track) { %>
  <div class="track-container <%= track.playing ? 'playing' : '' %>" data-provider="<%= track.provider %>" data-track="<%= track.provider_track_id %>" data-duration="<%= track.duration %>" data-id="<%= track.id %>">
    <div class="default-song-icon-container"><img src="<%= track.image_url %>" /></div>
    <div class="track-info-container">
      <h5><%= track.artist %></h5>
      <p><%= track.title %></p>
    </div>
    <div class="vote-container">
      <div class="like-vote-container <%= track.loved ? 'voted' : '' %>" data-url="<%= track.love_url %>">
      </div>
      <div class="dislike-vote-container <%= track.hated ? 'voted' : '' %>" data-url="<%= track.hate_url %>">
      </div>
    </div>
  </div>
<% }) %>
