<div class="top-bar">
  <%= image_tag("logo.png", :class => "logo-icon")%>
  <h3><%= @playlist.name %></h3>
</div>

<div id="code">
  <%= raw @qr.as_html %>
</div>

<div class="inner-wrapper">
  <div class="player-container">
    <div class="player">
      <span class="js-button">
          <svg width="100%" height="100%" viewBox="0 0 36 36" >
              <defs>
                  <path id="pause-icon" data-state="playing" d="M11,10 L17,10 17,26 11,26 M20,10 L26,10 26,26 20,26" />
                  <path id="play-icon"  data-state="paused"  d="M11,10 L18,13.74 18,22.28 11,26 M18,13.74 L26,18 26,18 18,22.28" />
              </defs>
              <use xlink:href="#play-icon" />
          </svg>
      </span>
    </div>
  </div>
  <div class="search-bar-container">
    <input id="searchbox" data-playlist-id=<%= @playlist.id %> class="tracks-search-bar" type="text" placeholder="Search for a track...">
    <%= image_tag("search-icon-2x.png", :class => "search-icon")%>
    <div class="search-results-container"></div>
  </div>
  <div class="playlist-container"></div>
</div>

<div id="widget_wrapper"></div>
